<label>Filter by Category</label>
<select name="" id="" ng-model="category">
  <option value="All" selected>All</option>
  <option value="Beauty">Beauty</option>
  <option value="Flowers & Gifts">Flowers &amp; Gifts</option>
  <option value="Food & Wine">Food &amp; Wine</option>
  <option value="Home">Home</option>
  <option value="Kids">Kids</option>
  <option value="Men">Men</option>
  <option value="Women">Women</option>
</select>

<div class="row marketing">
  <table class="table">
    <thead>
      <th><a href="" ng-click="predicate='Item';direction=!direction">Item</a></th>
      <th><a href="" ng-click="predicate='Category';direction=!direction">Category</a></th>
      <th><a href="" ng-click="predicate='SubCategory';direction=!direction">Sub Category</a></th>
      <th><a href="" ng-click="predicate='Price';direction=!direction">Price</a></th>
    </thead>
    <tbody>
      <tr ng-repeat="item in items | orderBy:predicate:direction" ng-show="categorySelected(item.Category)">
        <td>{{item.Item}}</td>
        <td>{{item.Category}}</td>
        <td>{{item.SubCategory}}</td>
        <td>{{item.Price | currency:'£'}}</td>
      </tr>
    </tbody>
  </table>
</div>
